body {
    background-image: url("../images/background.gif");
}

.hidden{
    opacity: 0;
    visibility: hidden;
}
.grid{
    width: 600px;
    /* height: 500px; */
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}

.grid h1{
    font-family: sans-serif;
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding: 2px 0px;
    border-radius: 50px;
}

.grid #Question{
    font-family: sans-serif;
    font-size: 30px;
    color: #5a6772;
    
}

.selections{
    margin-top: 30px;
}

.selections .selection-card {
    cursor: pointer;
    background-color: #778897;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}
.selections .selection-card.active{
    background-color: #4CAF50;
    color: white;
}
.selections .selection-card:hover{
    background-color: #4CAF50;
    color: white;
}
.selections .selection-card:focus{
    outline: 0;
}

#progress{
    color: #2b2b2b;
    font-size: 18px;
}

.slick-slide {
    height: auto;
}

.close{
    cursor: pointer;
    background-color: #778897;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}


